# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=carbot
DB_USER=carbot
DB_PASSWORD=carbot_secret

# Redis
REDIS_URL=redis://localhost:6379/0

ANTHROPIC_BASE_URL=https://api.minimax.io/anthropic
ANTHROPIC_API_KEY=<you api key>